# Deployment
FLASK_ENV=production
PORT=5022

# Flask secret, used to sign session cookie
FLASK_SECRET_KEY="replace-me"

# OAuth Client and Secret, both are sensitive data
OAUTH_CLIENT_ID="replace-me"
OAUTH_CLIENT_SECRET="replace-me"

# OAuth server endpoints
OAUTH_ENDPOINT_AUTHORIZATION="http://localhost:8785/realms/mms/protocol/openid-connect/auth"
OAUTH_ENDPOINT_TOKEN="http://localhost:8785/realms/mms/protocol/openid-connect/token"
OAUTH_ENDPOINT_USERINFO="http://localhost:8785/realms/mms/protocol/openid-connect/userinfo"
OAUTH_ENDPOINT_LOGOUT="http://localhost:8785/realms/mms/protocol/openid-connect/logout"

# OAuth OIDC scope
OAUTH_OIDC_SCOPE="openid mms-local"

# BFF URL redirect after successful login
OAUTH_LOGIN_REDIRECT_URI="http://localhost:5022/proxy/api/auth/callback"

# Frontend origin and redirect after login
CORS_ALLOWED_ORIGIN="http://localhost:5178"
FRONTEND_REDIRECT="http://localhost:5178"

# Session cookie
SESSION_COOKIE_NAME="Fake__Host-session" # Must have __Host- prefix in a non-local env
SESSION_COOKIE_PATH="/"
SESSION_COOKIE_HTTPONLY="True"
SESSION_COOKIE_SECURE="True"
SESSION_COOKIE_SAMESITE="Strict"

# Server we're proxying
BACKEND_ENDPOINT="http://host.docker.internal:8080/api"

# Optional backend proxy timeouts in seconds
BACKEND_CONNECT_TIMEOUT_SECONDS="3"
BACKEND_READ_TIMEOUT_SECONDS="30"
