[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=3.1.2"
python-dotenv = "~=1.2.1"
authlib = "*"
requests = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
